@{
    ViewBag.Title = "Gina Page";
}


<br />

<div class="row" id="allcontent">
    
</div>
<style>

    .area {
        background-color: lightskyblue;
        margin: 10px;
        padding: 10px;
        width: 40%;
       /* float:left;*/
        word-break: break-all;
        
        
    }
    .ans {
        background-color: whitesmoke;
       /* height: auto;*/
        margin:10px;
        min-height:50px;
    }


    p {
       font-weight:800;
        background-color: antiquewhite
    }
</style>
@section scripts
    {
    <script>
     
//const { data } = require("jquery");
//const { dart } = require("modernizr");

//        var variables = {
//            SimpleBinding: [{}, {}, {}],
//            ModelBindObj: [{}, {}],


//        }
//        if (typeof variables == "array")
//        variables.forEach(function (variable) {

//        });

//        for (var actionName in variables) {
//            if (variables.hasOwnProperty(actionName)) {

//            var variable = variables[actionName];
//            console.log(variable);

//                for (var _key in variable) {
//                    if (variable.hasOwnProperty(_key)) {
//                        var obj = variable[_key];

//                        $.ajax({
//                            url: "..." + actionName,
//                            data: obj,
//                            beforeSend: function (jqXHR) {

//                            },
//                            success: function (data) {

//                            },
//                            error: function (a, b, c) {
//                                //...
//                            },
//                            complete: function () {

//                            }
//                        })
//                    }
//                }
//            }
        //        }

        function jqdata(name, age,friends=null)
        {
            this.name = name
            this.age = age
            this.Friends = friends||null
            

        }
       
        
        test()
        function test() {
            var variables =
            {
                 SimpleBinding: [{ Name: "Gina", Age: 11 }/*物件*/, 'Name=Gina&Age=12', new jqdata("Gina",13)]
                , ModelBindObj: [{ Name: "Gina", Age: 21 }, 'Name=Gina&Age=22', { data: { Name: "Gina", Age: 23 } }, { data: new jqdata('Gina', 24) }, new jqdata('Gina',25)]
                , SimpleModelBindArray: [{ Name: ["Gina", "Tom"], Age: [31, 1] }, new jqdata(["Gina", "Tom"], [32, 2]), { "Name[0]": "Gina", "Age[0]": 33, "Name[1]": "Tom", "Age[1]": 3}]
                ,ModelBindingArray: [{ data: [{ Name: "Gina", Age: 41 }, { Name: "Tom", Age: 1 }] }, [{ Name: "Gina", Age: 42 }, { Name: "Tom", Age: 1 }], { data: [new jqdata("Gina", 43), new jqdata("Tom", 1)] }, [new jqdata("Gina", 43), new jqdata("Tom", 1)], { "data[0]": { Name: "Gina", Age: 44 }, "data[1]": { Name: "Tom", Age: 2 } }, { "[0]": { Name: "Gina", Age: 45 }, "[1]": { Name: "Tom", Age: 2 } }  ]
                ,ModelBindingNestedObj: [{ data: { Name: "Gina", Age: 51, Friends: [{ Name: "Nana", Age: 0, Friends: [{ Name: "Ivy", Age: 3 }] }] } }, { Name: "Gina", Age: 52, Friends: [{ Name: "Nana", Age: 0, Friends: [{ Name: "Ivy", Age: 3 }] }] }, { data: new jqdata('Gina', 53, [new jqdata('Tina', 20, null)]) }, new jqdata('Gina', 54, [new jqdata('Tina', 20, null)])]
              ,  ModelBindingArrayNestedObj: [
                    { data: [{ Name: "Gina", Age: 61, Friends: [{ Name: "Nana", Age: 0, Friends: [{ Name: "Ivy", Age: 3 }] }] }, { Name: "Fanny", Age: 5, Friends: [{ Name: "Tina", Age: 0, Friends: [{ Name: "Chris", Age: 3 }] }] }] }
                    , [{ Name: "Gina", Age: 62, Friends: [{ Name: "Nana", Age: 0, Friends: [{ Name: "Ivy", Age: 3 }] }] }, { Name: "Fanny", Age: 5, Friends: [{ Name: "Tina", Age: 0, Friends: [{ Name: "Chris", Age: 3 }] }] }]
                    , { data: [new jqdata('Gina', 63, [new jqdata('Ivy', 2)]), new jqdata('Fanny', 23, [new jqdata('Eva', 2)])] }
                    , [new jqdata('Gina', 64, [new jqdata('Ivy', 2)]), new jqdata('Fanny', 23, [new jqdata('Eva', 2)])]
                    , { "data[0]": { Name: "Gina", Age: 65, Friends: [{ Name: "Nana", Age: 0, Friends: [{ Name: "Ivy", Age: 3 }] }] }, "data[1]": { Name: "Fanny", Age: 5, Friends: [{ Name: "Tina", Age: 0, Friends: [{ Name: "Chris", Age: 3 }] }] } }
                     ,{ "[0]": { Name: "Gina", Age: 66, Friends: [{ Name: "Nana", Age: 0, Friends: [{ Name: "Ivy", Age: 3 }] }] }, "[1]": { Name: "Fanny", Age: 5, Friends: [{ Name: "Tina", Age: 0, Friends: [{ Name: "Chris", Age: 3 }] }] } }
                ]
          
            }
            var styles = ["string Name, int Age", "Human data", "string[] Name, int[] Age", "Human[] data", "Person data","Person[] data"]
            var contenttypes = ["application/x-www-form-urlencoded; charset=utf-8", "application/json; charset=utf-8"]
            var i=0
           for (var actionname in variables) {
               if (variables.hasOwnProperty(actionname)) {
                 
                   $('#allcontent').append("<hr id=bookmark" + i +"><hr><hr><h2>" + styles[i] + "</h2>")
                   i=i+1
                    variables[actionname].forEach((object) => {
                        contenttypes.forEach(type => {
                            var docfrag = $(document.createDocumentFragment())
                            var frag0 = "", frag1 = "", frag2 = "", frag3 = "", frag4 = ""
                            if (type == "application/json; charset=utf-8") {
                                object = JSON.stringify(object)
                                 $.ajax(
                                    {
                                        url: "/HOME/" + actionname,
                                        method: 'Post',
                                        processData: false,
                                        data: object,
                                        contentType: type,
                                        dataType: "text",
                                         async: false,
                                        cache: false,
                                        //traditional: true,
                                        //processData: true,
                                        beforeSend: function (jqXHR, settings) {
                                            debugger;
                                            //settings.data = settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
                                            //console.log("物件")
                                            //console.log(object)
                                            //console.log(settings.data)
                                            frag0 = $("<p></p>").text(actionname)
                                            frag1 = $("<p></p>").text("輸入object")
                                            frag2 = $("<div class='ans'></div>").text(object)
                                            frag3 = $("<p></p>").text("送出內容，依據" + type)
                                            frag4 = $("<div class='ans'></div>").text(settings.data)
                                            docfrag.append([frag0], [frag1], [frag2], [frag3], [frag4])
                                        },
                                        success: function (data) {
                                            frag1 = $("<p></p>").text("返回 Http Response body")
                                            frag2 = $("<div class='ans'></div>").text(data)
                                            if (data == "") {
                                                frag2 = $("<div class='ans'></div>").text("失敗")
                                            }
                                            docfrag.append([frag1], [frag2])
                                            // console.log(object)

                                        },
                                        error: function (ex) {
                                            frag1 = $("<p></p>").text("返回 Http Response body")
                                            frag2 = $("<div class='ans'></div>").text("失敗")
                                            docfrag.append([frag1], [frag2])

                                        },
                                        complete: function () {

                                            var area = $("<div class='area'></div>").html(docfrag)
                                            $('#allcontent').append(area)
                                            docfrag = null
                                        }
                                    })
                            }
                            else
                            {
                                 $.ajax(
                                    {
                                        url: "/HOME/" + actionname,
                                        method: 'Post',
                                        processData: true,
                                        data: object,
                                        contentType: type,
                                        dataType: "text",
                                         cache: false,
                                         async: false,
                                        //traditional: true,
                                        //processData: true,
                                        beforeSend: function (jqXHR, settings) {
                                            debugger;
                                           // settings.data = settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
                                            //console.log("物件")
                                            console.log(object)
                                            //console.log(settings.data)
                                            frag0 = $("<p></p>").text(actionname)
                                            frag1 = $("<p></p>").text("輸入object")
                                            frag2 = $("<div class='ans'></div>").text(JSON.stringify(object))
                                            frag3 = $("<p></p>").text("送出內容，依據" + type)
                                            frag4 = $("<div class='ans'></div>").text(settings.data)
                                            docfrag.append([frag0], [frag1], [frag2], [frag3], [frag4])
                                        },
                                        success: function (data) {
                                            frag1 = $("<p></p>").text("返回 Http Response body")
                                            frag2 = $("<div class='ans'></div>").text(data)
                                            if (data == "") {
                                                frag2 = $("<div class='ans'></div>").text("失敗")
                                            }
                                            docfrag.append([frag1], [frag2])
                                            // console.log(object)

                                        },
                                        error: function (ex) {
                                            frag1 = $("<p></p>").text("返回 Http Response body")
                                            frag2 = $("<div class='ans'></div>").text("失敗")
                                            docfrag.append([frag1], [frag2])

                                        },
                                        complete: function () {

                                            var area = $("<div class='area'></div>").html(docfrag)
                                            $('#allcontent').append(area)
                                            docfrag = null
                                        }
                                    })

                            }
  
                        })
                    })
                }
                }
            


            
            
        }


    </script>
    }