@using ModelBinding_11104.ViewModel
@using ModelBinding_11104.Controllers

@{
    ViewBag.Title = "SimpleBinding";
}

<h2>SimpleBinding</h2>

<div>
    <input name="Name" type="text" />
    <input name="Age" type="text" />
</div>


