@{
    ViewBag.Title = "MBview";
}
<h2>MBview</h2>
<body>
    <div id="PageDiv">
    </div>
</body>
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        let Simple = { "Name": "john", "Age": 18 }
        let HumanJohn = { Name: "john", Age: 18 }
        let Simples = { Name: ["john", "jane"], Age: [18, 20] }
        let Humans = { Data: [{ Name: "john", Age: 18 }, { Name: "jane", Age: 20 }] }
        let PersonJohn = { Name: "john", Age: 18, Friends: [{ Name: "jane", Age: 20, Friends: null }, { Name: "joe", Age: 30, Friends: null }] }
        let PersonJane = { Name: "jane", Age: 20, Friends: [{ Name: "john", Age: 18, Friends: null }, { Name: "joe", Age: 30, Friends: null }] }
        let Persons = { Data: [PersonJohn, PersonJane] }
        let Datas = [
            { bind: "SimpleBinding", logo: "(string Name, int Age)", body: Simple },
            { bind: "ModelBindObj", logo: "(Human data)", body: HumanJohn },
            { bind: "SimpleModelBindArray", logo: "(string[] Name, int[] Age)", body: Simples },
            { bind: "ModelBindingArray", logo: "(Human[] data)", body: Humans },
            { bind: "ModelBindingNestedObj", logo: "(Person data)", body: PersonJohn },
            { bind: "ModelBindingArrayNestedObj", logo: "(Person[] data)", body: Persons },
        ]
        let DoublePost = function (postData) {
            AjaxPost(postData, postData.body, true, "application/x-www-form-urlencoded")
            AjaxPost(postData, JSON.stringify(postData.body), false, "application/json")
        }
        let AjaxPost = function (postData, postBody, processDataFlag, type) {
            let beforeSendData = null;
            $.ajax({
                url: "/Home/" + postData.bind,
                method: "Post",
                async: false,
                processData: processDataFlag,
                data: postBody,
                contentType: type,
                dataType: "text",
                beforeSend: function (jqXHR, settings) { beforeSendData = settings.data },
                success: function (data) { PageDiv(postData, postBody, beforeSendData, type, data) },
                error: function (ex) { console.log("FAIL") },
                complete: function () { console.log("OK") }
            })
        }
        let PageDiv = function (postData, postBody, beforeSendData, type, returnData) {
            if (returnData == "") {
                returnData = "失敗"
            }
            let DataDiv = $(`<div class="col-lg-5" style="background-color:skyblue; height:500px; margin:5px"></div>`)
            let Title = $(`<h3 style="color:darkred; margin-bottom:20px">${postData.logo}</h3>`)
            let Type = $(`<h3 style="color:darkred; margin-bottom:20px">${type}</h3>`)
            let Text0 = $(`<h4 style="color:darkred">輸入:</h4>`)
            let Raw = $(`<textarea cols="50" rows="6" style="resize:none" readonly>${postBody}</textarea>`);
            let Text1 = $(`<h4 style="color:darkred">輸出:</h4>`)
            let Input = $(`<textarea cols="50" rows="6" style="resize:none" readonly>${beforeSendData}</textarea>`);
            let Text2 = $(`<h4 style="color:darkred">回傳:</h4>`)
            let Output = $(`<textarea cols="50" rows="6" style="resize:none" readonly>${returnData}</textarea>`);
            DataDiv.append(Title)
            DataDiv.append(Type)
            //DataDiv.append(Text0)
            //DataDiv.append(Raw)
            DataDiv.append(Text1)
            DataDiv.append(Input)
            DataDiv.append(Text2)
            DataDiv.append(Output)
            $("#PageDiv").append(DataDiv)
        }
        Datas.forEach(postData => DoublePost(postData))
    </script>
}