@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Kashir</h1>
    <p class="lead">您即將進入卡希爾的作業網頁</p>
    <p><a onclick="javascript: location.href = `https://www.youtube.com/watch?v=Y2HJ4NKWzoE&ab_channel=%E3%80%90%E6%81%90TW%E6%85%8C%E3%80%91%E9%98%BF%E6%96%8C`" class="btn btn-primary btn-lg">點我試試?</a></p>
    <p><a onclick="javascript: location.href = `/Home/Result`" class="btn btn-danger btn-lg">前來報到?</a></p>
</div>