
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<div class="container" id="Shell">
    @*<div class="initialism">  //小刻板(底)
            <div class="col-lg-5" style="background-color:darkseagreen; height:500px; margin:5px">
                <h2 style="color:darkred; margin-bottom:50px">(string Name, int Age)</h2>
                <h4 style="color:darkgreen">輸入</h4>
                <textarea cols="50" rows="5" style="resize:none"></textarea>
                <h4 style="color:darkgreen">送出(application/x-www-form-urlencoded)</h4>
                <textarea cols="50" rows="3" style="resize:none"></textarea>
                <h4 style="color:darkgreen">回傳</h4>
                <textarea cols="50" rows="3" style="resize:none"></textarea>
            </div>
        </div>*@
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        //test();
        function test() {
            var variables =
            {
                SimpleBinding: [{ Name: "Gina", Age: 18 }/*物件*/, ["Gina", 18]/*陣列*/, [Name = "Gina", Age = 18]/*陣列*/]
            }
            var contenttypes = ["application/x-www-form-urlencoded", "application/json"]
            for (var actionname in variables) {
                variables[actionname].forEach(object => {
                    for (var type in contenttypes) {
                        $.ajax(
                            {
                                url: "/HOME/" + actionname,
                                data: object,
                                contentType: type,
                                success: function (data) {
                                    console.log(object)
                                    console.log("成功" + data)
                                },
                                error: function (ex) { console.log("FAIL") },
                                complete: function () { console.log("OK") }
                            }
                        )
                    }
                })
            }
        } //幸佳小教學


        var Data = {
            SimpleBinding: [{ Name: "Kashir", Age: 20 }, { Name: ["Kashir"], Age: [20] }, "Name=Kashir&Age=20"],
            ModelBindObj: [{ Name: "Kashir", Age: 20 }, "Name=Kashir&Age=20", { data: { Name: "Kashir", Age: 20 } }, { data: { Name: ["Kashir"], Age: [20] }}],
            SimpleModelBindArray: [{ Name: "Kashir", Age: 20 }, { Name: ["Kashir", "Ginger"], Age: [20, 18] }/*, [{ Name: ["Kashir", "Ginger"] }, { Age:[20, 18]}]*/],
            ModelBindingArray: [[{ Name: "Kashir" }, { Age: 20 }, { Name: "Ginger" }, { Age: 18} ], [{ Name: "Kashir", Age: 20 }, { Name: "Ginger", Age: 18 }], [{ Name: ["Kashir", "Gnger"], Age: [20, 18] }]],
            ModelBindingNestedObj: [{ Name: "Kashir", Age: 20, Friends: [{ Name: "Ginger", Age: 18, Friends: [{ Name: "Yuly", Age: 12, Friends: null }] }] }],
            ModelBindingArrayNestedObj: [[{ Name: "Kashir", Age: 20, Friends: [{ Name: "Ginger", Age: 18 }] }, { Name: "Teresa", Age: 45, Friends: [{ Name: "Tina", Age: 30, Friends: null }] }] ]
        };
        var Contenttypes = ["application/x-www-form-urlencoded", "application/json"];


        $.each(Data, function (Name, Obj) {
            $(Obj).each(function (i, v) {
                $.each(Contenttypes, function (index, value) {
                    //console.log(Name); //方法名
                    //console.log(v);   //傳送的值
                    //console.log(value); //Contenttype類型
                    switch (Name) {
                        case 'SimpleBinding':
                            var logo = "(string Name, int Age)";
                            break;
                        case 'ModelBindObj':
                            var logo = "(Human data)";
                            break;
                        case 'SimpleModelBindArray':
                            var logo = "(string[] Name, int[] Age)";
                            break;
                        case 'ModelBindingArray':
                            var logo = "(Human[] data)";
                            break;
                        case 'ModelBindingNestedObj':
                            var logo = "(Person data)";
                            break;
                        case 'ModelBindingArrayNestedObj':
                            var logo = "(Person[] data)";
                            break;
                    };
                    switch (value) {
                        case "application/x-www-form-urlencoded":
                            var processDataResult = true;
                            var InputData = v;
                            break;
                        case "application/json":  //巨坑
                            var processDataResult = false;
                            var InputData = JSON.stringify(v);
                            break;
                    }
                    var _div = $(`<div class="col-lg-5" style="background-color:darkseagreen; height:500px; margin:5px"></div>`);
                    var _Title = $(`<h2 style="color:darkred; margin-bottom:50px">${logo}</h2>`);
                    var _Input = $(`<h4 style="color:darkgreen">輸入</h4>`);
                    var _InputText = $(`<textarea cols="50" rows="5" style="resize:none" readonly>${JSON.stringify(v)}</textarea>`);
                    var _Output = $(`<h4 style="color:darkgreen">送出(${value})</h4>`);

                    _div.append(_Title);
                    _div.append(_Input);
                    _div.append(_InputText);
                    _div.append(_Output);

                    $.ajax(
                        {
                            url: `/Home/${Name}`,
                            method: 'Post',
                            data: InputData,
                            contentType: value,
                            async: false,
                            processData: processDataResult, //必設False(application/json才會成功)
                            dataType: "text",
                            beforeSend: function (jqXHR, settings) {
                                //console.log(settings.data);
                                var _BeforeInput = $(`<textarea cols="50" rows="3" style="resize:none" readonly>${settings.data}</textarea>`);
                                var _Return = $(`<h4 style="color:darkgreen">回傳</h4>`);
                                _div.append(_BeforeInput);
                                _div.append(_Return);
                            },
                            success: function (data) {
                                //console.log(data);
                                //console.log("成功");
                                var _ReturnValue = $(`<textarea cols="50" rows="3" style="resize:none" readonly>${data}</textarea>`);
                                _div.append(_ReturnValue);
                            },
                            error: function () {
                                //console.log("失敗");
                                var _ReturnValue = $(`<textarea cols="50" rows="3" style="resize:none" readonly>失敗</textarea>`);
                                _div.append(_ReturnValue);
                            },
                            complete: function () {
                                $(`#Shell`).append(_div);
                            }
                        }
                    );
                })
            })
        });
    </script>
}

